@import url("https://fonts.google.com/specimen/Cuprum#standard-styles");
@import url("https://fonts.google.com/specimen/Lobster?selection.family=Lobster");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(22, 233, 50);
  font-family: "Lobster" sans-serif;
 
}

body, html {
  height: 100%;
}

.header__title {
  text-align: center;
  font-size: 15pt;
  height: 52px;
  padding: 30px;
}

.about__me {
  text-align: center;
  padding: 40px;
  font-size: 25pt;
  background-color: #C8E6C9;
  top: 30%;
}

.skills {
 text-align: center;
 padding: 40px;
  font-size: 25pt;
  background-color: #C8E6C9;
  top: 30%;
}

.projects {
  position: fixed;
  background-color: #C8E6C9;
  padding: 40px;
  top: 20%;
  left: 20%;
  text-align:  center;
  font-size: 21pt;
  width: 55%;;
  height: 70%;
}

h1 ,h2 {
 background-color: #C8E6C9;
  width: 100%;
  padding-bottom: 10px;
}


img {
  height: 20%;

}

footer {
  position: fixed;
  left: 35%;
  top: 90%;
  bottom: 10%;
  height: 30%;
  width: 30%;
  text-align: center;
  font-size: 25px;
}

.nav__list {
  position: fixed;
  left: 77%;
  top: 42%;
  font-size: 30pt;
  /* background-color: #C8E6C9; */
  list-style-type: none;
}

li {
  margin: 5px;
  padding: 15px;
}

.my__image {
  position: fixed;
  left: 20%;
  top: 45%;
  height: 100%;

}

.collapsible {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 40%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  color: whitesmoke;
}

.collapsible:hover {
  background-color: transparent;
}

.container {
  display: box;
  background-image: url("./images/phothos2.jpg");
  height: 100%;
  width: 100%;
  /* opacity: 0.4; */
  background-repeat: no-repeat;
  background-size: cover;

}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: forestgreen;
}

