*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
  footer{
    padding: 1 rem;
    text-align:  center;
    color: aquamarine;
}
.page-title {
    text-align: center;
    color: aquamarine;
} 
body {
    background-image: url ("downtown-columbus-ohio.jpg")
  }
  
 